@charset "UTF-8";

* {font-family: Arial, Helvetica, sans-serif; margin: 0px; padding: 0px;
    font-size: 1em; /* 'h1'-'header a'-'menu' */
    box-sizing: border-box; /* inclui a borda no tamanho da caixa */}

html {height: 100vh;}

body {background: black url(../imagens/back-phone.jpg) no-repeat center; 
        background-size: auto; padding-bottom: 20px;}

section {background-color: rgba(255, 255, 255, 0.815); width: 90vw; margin: auto;
         border-radius: 10px; padding: 20px; margin-top: 20px;}

h1, h2 {text-align: center;} h2 {font-size: 0.7em;}
header a {display: block; margin-top: 10px; text-align: center;}

#ItensMenu {display: none; margin-top: 20px;}
#ItensMenu ul {list-style-type: none;}
#ItensMenu a {display: block; text-align: center; text-decoration: none; font-weight: bolder;
                border-top: 2px solid darkgray;}
#ItensMenu a:hover {text-decoration: underline;}

#IconeMenu {display: block; text-align: center; padding-top: 10px;}
#IconeMenu:hover {cursor: pointer;}

img {display: block; margin: auto;}
#cel {display: block;} #tab {display: none;} #note {display: none;}
#tv {display: none;} #imp {display: none;}

p {text-align: justify; margin-bottom: 10px; text-indent: 30px; line-height: 1.5em; 
    font-size: 0.8em;}
